<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div>
        <h1>New Ninja</h1>
        <div class="container notAsWide">
            <form action="">
                <div>
                    <label for="">Dojo:</label>
                    <select name="" id="">
                        <option value="">something</option>
                        <option value="">something else</option>
                    </select>
                </div>
                <div>
                    <label for="">First Name:</label>
                    <input type="text" name="" id="">
                </div>
                <div>
                <label for="">Last Name:</label>
                <input type="text" name="" id="">
                </div>
                <div>
                    <label for="">Age:</label>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <input type="submit" name="" id="" value="Create">
                </div>
            </form>
        </div>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>